doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="stylesheets/header.css")
    nav
        div.nav-wrapper.grey.darken-3
            a.brand-logo(href='/') Cool Name TBD
            ul.right.hide-on-med-and-down#nav-mobile
                li
                    a(href="/add") Add
                li
                    a(href="/") Search