html {
  font-family: 'Proxima Nova', Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page-nav {
  background: #eaeaea;
  min-height: 50px;
}

@media (min-width: 1125px) .page-header--responsive .page-nav {
  min-width: 1125px;
}

.page-nav__content {
  display: inline-block;
  vertical-align: top;
  width: 990px;
  text-align: left;
  position: relative;
}

.page-nav__nav {
  display: inline-block;
  font-size: 0;
}

.page-nav__nav .page-nav__link-container {
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

.page-nav__nav .page-nav__link-container, .page-nav__nav .page-nav__item {
  display: inline-block;
  position: relative;
}

ul, li, blockquote {
  padding: 0;
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

.page-nav__nav .page-nav__link {
  box-sizing: border-box;
  color: #111;
  height: 50px;
  font-size: 21px;
  display: block;
  padding: 12px 20px 16px;
}

.page-nav__nav .page-nav__more-icon {
  display: inline-block;
  height: 12px;
  width: 12px;
}

svg:not(:root) {
  overflow: hidden;
}

.more-menu {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  background: #fff;
  z-index: 101;
  margin-top: 9px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.more-menu .more-menu__community {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding: 19px 15px;
}

.more-menu a {
  color: #111;
}

.more-menu {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  background: #fff;
  z-index: 101;
  margin-top: 9px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.more-menu a {
  color: #111;
}

.more-menu a:hover {
  color: #07e;
}

.more-menu:after, .more-menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.more-menu:after {
  border-color: transparent;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.more-menu:before {
  border-color: transparent;
  border-bottom-color: #ccc;
  border-width: 9px;
  margin-left: -9px;
}

.more-menu .more-menu__community {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding: 19px 15px;
}

.more-menu .more-menu__sections {
  padding: 15px;
}

.more-menu .more-menu__sections-link-container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  padding: 0;
}

.more-menu .more-menu__section-link {
  font-size: 16px;
  display: inline-block;
  width: 153px;
  margin-bottom: 2px;
}

.more-menu__footer {
  background: #eaeaea;
  padding: 5px 15px 15px;
}

.more-menu__footer li {
  display: inline;
}

.more-menu__footer .more-menu__footer-sub-content {
  padding: 0;
  font-size: 10px;
}
.more-menu__footer .more-menu__footer-sub-content .more-menu__copyright {
  margin: 10px 0 0;
  color: #999;
  display: block;
}

.more-menu__footer .more-menu__footer-sub-content > li {
  margin-right: 5px;
}

.more-menu__footer .made-in-nyc {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 46px;
  height: 46px;
  background: url("/static/images/global/unified_sprite.png?v=1455303896") no-repeat -535px -497px;
}

.more-menu__footer-main-content {
  margin-bottom: 10px;
  padding: 0;
}

.more-menu__footer-main-content > li {
  margin-right: 10px;
}

.country-switch {
  position: relative;
  -webkit-box-shadow: inset 0 1px 1px #fff;
  -moz-box-shadow: inset 0 1px 1px #fff;
  -ms-box-shadow: inset 0 1px 1px #fff;
  -o-box-shadow: inset 0 1px 1px #fff;
  box-shadow: inset 0 1px 1px #fff;
  background: #e6e6e6;
  border-radius: 3px;
  border: solid 1px #cbcbcb;
  color: #07e;
  display: inline-block;
  font-size: 16px;
  padding: 0;
}

.country-switch .country-switch__button {
  display: inline-block;
  color: #07e;
  padding: 4px 11px !important;
}

.country-switch .country-switch__globe {
  height: 16px;
  width: 16px;
  padding: 0 3px 0 0;
}

.country-switch .country-switch__svg {
  position: relative;
  top: 2px;
  display: none;
  pointer-events: none;
  fill: currentColor;
}

.country-switch__svg .country-switch__arrow use {
  display: none;
}

.unified-header .lower .nav-left .menu-item .more-menu .more-menu__make-post-link, .more-menu .more-menu__make-post-link {
  background: #33b2bc;
  color: #fff;
  margin-left: 10px;
}

.solid .btn--buzz--inline, .btn--buzz--inline {
  display: inline-block;
  width: auto;
}

.btn--buzz--small {
  font-size: 0.875rem;
  padding: 0.375rem 0.625rem;
  height: 2rem;
}

.more-menu .more-menu__sections {
  padding: 15px;
}

.more-menu .more-menu__sections-header {
  display: block;
  color: #ccc;
  margin-bottom: 10px;
}

.more-menu .more-menu__sections-link-container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  padding: 0;
}

.more-menu .more-menu__section-link {
  font-size: 16px;
  display: inline-block;
  width: 153px;
  margin-bottom: 2px;
}

.more-menu a {
  color: #111;
}

.more-menu__footer {
  background: #eaeaea;
  padding: 5px 15px 15px;
}

.page-nav__actions {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 20px;
  line-height: 50px;
}

@media (min-width: 1125px) .page-header--responsive .page-nav__actions .page-nav__action--app {
  display: inline-block;
}

.page-nav__actions .page-nav__action {
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  font-size: 14px;
  font-weight: 600;
  color: #07e;
  display: inline-block;
  margin-right: 16px;
  line-height: normal;
  vertical-align: middle;
  position: relative;
}

.page-nav__actions .page-nav__action--fb-share {
  position: relative;
  opacity: 1;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.fb_iframe_widget {
  display: inline-block;
  position: relative;
}

.fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify;
  vertical-align: bottom;
  width: 89px;
  height: 20px;
}

.fb_iframe_widget iframe {
  position: absolute;
  border: none;
  visibility: visible;
  width: 89px;
  height: 20px;
}

iframe {
  overflow: hidden;
  z-index: 1;
}

.page-nav__utilities {
  position: absolute;
  right: 0;
  top: 13px;
}

.page-nav__utilities .page-search, .page-nav__utilities .nav-signin {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

.page-search {
  height: 26px;
}

.page-search .page-search__form {
  position: relative;
}

.page-search .page-search__input {
  width: 26px;
  height: 26px;
  background: #fff;
  border: 1px solid #e2e2e2;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 0.1s, width 0.3s;
  -moz-transition: opacity 0.1s, width 0.3s;
  transition: opacity 0.1s, width 0.3s;
}

input {
  line-height: normal;
  color: inherit;
  font: inherit;
  margin: 0;
}

.page-search .page-search__search-button {
  position: absolute;
  top: 0;
  right: 4px;
  padding: 4px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 18px;
}

.page-search .page-search__search-button {
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
}

.page-search .page-search__search-icon {
  height: 18px;
  width: 18px;
  stroke: #000;
}

.page-nav__item--dropdown .page-nav__link:hover {
  cursor: inherit;
}

.page-nav__item--dropdown:hover .more-menu {
  display: block;
}
