doctype html
html(lang="en")
  head
    title="Comparing Components"
    meta(charset='utf-8')
    link(rel="stylesheet", href="codemirror.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    nav
        div.nav-wrapper.green.accent-4
            a.brand-logo(href='/') Cool Name TBD
            ul.right.hide-on-med-and-down#nav-mobile
                li
                    a(href="/add") Add
                li
                    a(href="/") Search
                li
                    a(href="/contribute") Contribute
    div.container#examples
    div.container#annotations
        div.row
    script(src='/jquery.min.js')
    script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
    script(src='/js/compare.js')
    script(src="codemirror.js")
    script(src='/js/materialize/bin/materialize.min.js')