doctype html
html(lang="en")
  head
    title="Comparing Components"
    meta(charset='utf-8')
    link(rel="stylesheet", href="codemirror.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    nav
        div.nav-wrapper.green.accent-4
            a.brand-logo(href='/') Contrast
            ul.right.hide-on-med-and-down#nav-mobile
                li
                    a(href="/add") Add
                li
                    a(href="/compare") Compare
                li
                    a(href="/contribute") Contribute
    div.container#search
        div.row
            form.col.s12#compare-form
                h3.center Select two websites to compare
                div.row
                    div.input-field.col.s12.m6
                        select.icons#compare1
                    div.input-field.col.s12.m6
                        select.icons#compare2
                div.center
                    button.btn.waves-effect.green.waves-light(type="submit")#search-submit Submit
    div.container#examples
    div.container#annotations
        div.row
    script(src="/jquery.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.1/firebase.js")
    script(src="codemirror.js")
    script(src="/mode/xml/xml.js")
    script(src="/mode/formatting.js")
    script(src="/js/index.js")
    script(src="/js/materialize/bin/materialize.min.js")