doctype html
html(lang="en")
  head
    title="Comparing Components"
    meta(charset='utf-8')
    link(rel="stylesheet", href="codemirror.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    nav
        div.nav-wrapper.green.accent-4
            a.brand-logo(href='/') Cool Name TBD
            ul.right.hide-on-med-and-down#nav-mobile
                li
                    a(href="/add") Add
                li
                    a(href="/compare") Compare
                li
                    a(href="/contribute") Contribute
    div.container
        div.row
                h3.center Welcome to TBD
                h5.center a site that compares common practices and approaches for writing front-end components across professional websites
        div.row.center
            a(href="/add").waves-effect.waves-light.btn-large Add a website example
        div.row.center
            a(href="/compare").waves-effect.waves-light.btn-large Compare a component across websites
        div.row.center
            a(href="/contribute").waves-effect.waves-light.btn-large Contribute analysis of component implementations
    script(src="/jquery.min.js")
    script(src="/js/materialize/bin/materialize.min.js")