@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
body {
  font-family: "Source Sans Pro", sans-serif; }

p {
  font-weight: 400; }

.block {
  width: 100%;
  float: left; }
  .block:first-of-type {
    margin-right: 2%; }
  .block p {
    font-weight: 600; }

.CodeMirror {
  max-width: 48%;
  float: left; }

.crop {
  height: 200px;
  overflow: hidden;
  margin-bottom: 1em;
  text-align: center; }
  .crop img {
    width: 100%; }

.class-highlight {
  background-color: #F3F315;
  /* #A9E8FA;*/ }

.id-highlight {
  background-color: #D3FF6A; }
